//
// ----------------------------------------------------------------------------
// Components / Blocks / WP / Button
// ----------------------------------------------------------------------------
//

@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

@use '../../button';


.wp-block-button:not(.is-style-secondary) .wp-block-button__link {
	@extend %button;

	&:hover {
		background-color: var(--hover-background-color, var(--surf-color-button-hover)) !important;
		color: var(--hover-text-color, var(--surf-color-button-hover-text)) !important;
	}
}

.wp-block-button.is-style-secondary .wp-block-button__link {
	@extend %button-secondary;
}

@include mixins.poweredTheme {
	.wp-block-button:not(.is-style-secondary) .wp-block-button__link {
		font-size: functions.rem(16);
	}

	.wp-block-button.is-style-secondary .wp-block-button__link {
		text-decoration: none;

		&::after {
			display: block;
		}
	}
}
